*
{
    
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: sans-serif;

}
body
{
    background-image: url(../res/images/HD-Background.jpg);
    overflow: hidden;
    height:100%;
    background-size: 100%;
    background-repeat: no-repeat;
    
    margin: 0;
    
}


.nav
{   
    
    background-color: hsla(138, 100%, 27%, 0.9);
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    height: 50px;
    align-items:center;
    
}
.footer
{   
    
    
    background-color: hsla(138, 100%, 27%, 0.9);
    min-height: 30px;
    position: fixed;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
    color: hsl(138, 100%, 90%);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header1  {

    transition-timing-function: ease-out;
    transition: 0.5s;
    border: solid hsl(138, 100%, 25%);
    float:left;
    display: flex;
    color: #000;
    text-align: center;
    align-items:center;
    padding: 9px 13%;
    font-size: 17px;
    flex-grow: 0;
    margin: 3px;
    justify-content:space-evenly;
    

    
        
}


.header1:hover
 {
    transition-timing-function: ease-in;
    transition: 0.3s;
    background-color: hsl(138, 50%, 50%);
    border-radius: 20px;
    flex: 1;
    margin: 1px;
    justify-content: space-evenly;


 
   
}






.signin {
    resize: both;
    width: 500px;
    height: 300px;
    border: black solid;
    border-radius: 25px;
    background: linear-gradient(45deg, #008C2A, #FFFFFF);
    background: linear-gradient(135deg, #008C2A, #FFFFFF);
    margin-top:100px;
    margin-left:32%;
    text-align: center;
    
}
.bird{
margin-left: 100px;
margin-right: 100px;
height: 30%;
width: 20%;

transform:scaleX(-1)


}
.bird1{
    float: right;
    margin-right:100px ;
    margin-left: 100px;
    
    height: 30%;
    width: 20%;
    
}


.boxes input[type="email"],.boxes input[type="password"]{
padding: 0%;
margin: 0%;
width: 250px;
height: 30px;
border-radius: 10px;

}
.boxes input[type="submit"]{
width: 100px;
height: 25px;
border-radius: 15px;


}
.boxes input[type="submit"]:hover{
    background-color: hsl(138, 50%, 50%);
    
    }